@model IEnumerable<ZenithPensionsQuestionier.Models.QuestionAnswerCountVm>
@{
    ViewData["Title"] = "GetResult";
}

<h3>TYPE A</h3>

<div class="row">
    <div class="col-12">

        @foreach (var item in Model)
        {
            @if (item.Type == "B")
            {

                <div class="card">
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted"> @item.Text.ToUpper()</h6>
                        <br />
                        <hr />
                        <p>@item.OptionA</p>

                            


                    </div>
                </div>
                <br />

            }

        }



    </div>
</div>

